* {
  margin: 0;
  padding: 0;
}
.section {
  width: 90%;
  margin: 50px auto;
  font-size: 14px;
}
* {
  margin: 0;
  padding: 0;
}
section.container {
  margin: 20px auto;
}
table.person_tbl {
  width: 100%;
  font-size: 14px;
}
table.person_tbl td,
table.person_tbl th {
  border: 0;
  padding: 0.5rem;
}
table.person_tbl th {
  border-bottom: 2px solid #dee2e6;
  border-top: 1px solid #dee2e6;
  text-align: center;
}
table.person_tbl tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}
table.person_tbl tbody td {
  border-top: 1px solid #dee2e6;
  text-align: center;
}
table.person_tbl td.id {
  display: none;
}
.pagination {
  margin-top: 20px;
}
button,
button.btn.btn-primary {
  border: 0;
  margin-right: 10px;
  padding: 5px 30px;
  color: #fff;
  font-size: 13px;
  background: #0097e1;
  cursor: pointer !important;
  border-radius: 0;
}
button.btn.btn-secondary {
  border: 0;
  margin-right: 10px;
  padding: 5px 20px;
  font-size: 13px;
  cursor: pointer !important;
  border-radius: 0;
}
button.btn.btn-danger {
  border: 0;
  margin-right: 10px;
  padding: 5px 30px;
  color: #fff;
  font-size: 13px;
  cursor: pointer !important;
  border-radius: 0;
}
button.close {
  border: 0;
  box-shadow: none;
  right: -9px;
  background: #0097e1 !important;
  opacity: 0.9 !important;
  text-align: center;
  width: 10px;
  margin: 0 !important;
  padding: 0 0 2px !important;
  width: 28px;
  font-weight: normal;
  font-size: 16px;
  border-radius: 50%;
}
span.notif {
  padding: 20px 0;
  font-style: italic;
  color: green;
  font-size: 13px;
}
button:hover,
button.btn.btn-primary:hover {
  opacity: 0.7;
}
textarea.form-control {
  height: 150px;
}
.form-control {
  font-size: 14px;
  border-radius: 0;
}
.half {
  width: 49.7%;
  display: inline-block;
  vertical-align: top;
  padding: 20px 0;
}
.search-cont {
  display: inline-block;
  width: 79%;
}
.search-cont input {
  width: 100%;
  border: solid 1px #dee2e6;
  padding: 5px 10px;
  font-size: 13px;
}
td.prod_name {
  text-align: left !important;
}
td.prod_name img {
  padding-right: 10px;
}
ul.sub-heading li {
  width: 59%;
  display: inline-block;
  font-size: 14px;
  list-style-type: none;
  font-weight: normal;
}
ul.sub-heading li:last-child {
  width: 40%;
}
.modal-dialog.modal-md {
  max-width: 800px;
}

.modal-body .pagination {
  margin-top: 0;
}
.modal-body th {
  text-align: center;
}
.modal-body td {
  width: 24%;
  padding: 10px;
}
.modal-body td:last-child {
  width: 11%;
  padding: 0;
  margin: 0;
}
.modal-body td:last-child button {
  margin: 0;
}
.modal-body input {
  border-radius: 4px;
  padding: 7px 10px;
}
/*----Modal-----*/
.modalDialog {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  opacity: 0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}
.modalDialog:target {
  opacity: 1;
  pointer-events: auto;
}

.modalDialog > div {
  width: 400px;
  position: relative;
  margin: 10% auto;
  padding: 20px 20px 0px 20px !important;
  border-radius: 0;
  background: #fff;
  text-align: left;
  background: -moz-linear-gradient(#fff, #999);
  background: -webkit-linear-gradient(#fff, #999);
  background: -o-linear-gradient(#fff, #999);
}
.modalDialog > div p {
  padding-bottom: 0;
  margin-bottom: 5px !important;
}
.close {
  background: #606061;
  color: #ffffff;
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -10px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000;
}

.close:hover {
  background: #00d9ff;
}
.modalDialog > div h2 {
  color: #0097e1;
  margin-bottom: 10px;
}
.modalDialog > div li {
  list-style-type: none;
}
.modalDialog > div ul {
  list-style: none;
  margin-left: 0;
  margin-top: 0;
}
.modal-body td:first-child {
  width: 1%;
}

@media screen and (max-width: 845px) {
  section.container {
    width: 100%;
    padding: 10px;
    margin: 0;
    max-width: 100%;
  }
}
@media screen and (max-width: 700px) {
  table.person_tbl tr,
  table.person_tbl th {
    display: block;
  }
  table.person_tbl td {
    width: 100%;
    display: block;
  }
  .half {
    width: 100%;
  }
  .half button.btn.btn-primary {
    margin-top: -5px;
  }
}
@media screen and (max-width: 570px) {
  .search-cont {
    width: 100%;
    margin-top: 10px;
  }
  .half button.btn.btn-primary {
    float: right;
    margin-right: 0;
  }
  .pagination {
    border-top: #eee solid 2px;
    padding-top: 20px;
  }
  .modal-dialog {
    max-width: 800px;
  }
}
